/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "bootstrap.min";
@import "bootstrap-responsive.min";

$color-green: #8A9B72;
$color-red: #D84B41;
$color-yellow: #ffcb27;

$serif: 'Lora', Helvetica, serif; 

// body { background: asset_url('bg.png') #3b803f 0 0 repeat;  }

body { background: #ffcb27; }

h1 { color: #222; }
h2 { color: #222; }

.filter-action { font-family: $serif ; text-align: center;
  // .eat-it a { background: asset_url('eatit.png') 0 0 no-repeat; width: 125px; }
  // .drink-it a { background: asset_url('drinkit.png') 0 0 no-repeat; width: 187px; }
  // .do-it a { background: asset_url('doit.png') 0 0 no-repeat; width: 117px; }
  .nav-pills { display: inline-block; margin: 0 0 48px 0; }
  .nav-item {
    a { background-color: #000; border: 4px #8a9b72 solid; color: #f9ebd5; font-size: 30px; line-height: 45px; border-radius: 3px;
      &:hover { background-color: #8a9b72; border: 4px #d94c3e solid; color: #d94c3e; }
    }
    @media screen and (max-width: 767px){ display: block; width: 100%; margin-bottom: 10px; }
  }
}
.filter-dropdown {
  select { width: 100%; }
}
.filter-sidebar { padding: 24px; background: #000; margin-right: -60px;
  .nav-list { padding: 0; }
  .nav-list > li > ul > li > a { padding: 0 12px; color: #FFF; }
  .nav-list li a { text-shadow: none; color: #999; }
  .nav-list > li > a, .nav-list .nav-header {margin-right: 15px;}
  
  .nav-list li a:hover, .nav-list li a.active { color: $color-yellow; background: #ffcb27; }
  .nav-list li a:hover { background: #222; }
  .nav-list .nav-list { margin: 0 12px 12px 12px; }
  .nav-list li a.active { color: #000; }
  .nav-list .nav-header { text-shadow: none; color: #FFF; padding: 0 0 6px 0; margin: 0 0 12px 0; }
  .nav-header { color: tint(#246627,40%); font-family: $serif; font-weight: normal; font-style: italic; font-size: 16px; text-transform: none; border-bottom: 2px solid #222; margin: 0 0 12px 0; }
}

.content { background: #FFF; padding: 30px;
  ol { counter-reset: item; margin-top: -10px; padding: 0; margin: 0; }
  li { list-style: none; position: relative; padding: 20px 0 20px 40px; margin: 0 0 0 0; 
    
    &:first-child:after {
      top: 20px;
    }
    &:last-child:after {
      bottom: 40px;
    }
    &:before {
      content: counter(item) " ";
      counter-increment: item;
      height: 40px;
      width: 40px;
      display: block;
      position: absolute;
      border-radius: 40px;
      border: 4px solid #666;
      background: #FFF;
      top: 6px;
      left: 0px;
      z-index: 89;
      line-height: 40px;
      text-align: center;
      color: #333;
      font-weight: bold;
    }
    &:hover:before {
      background: #666;
      color: #FFF;
    }
    &:after {
      content: "";
      width: 4px;
      display: block;
      position: absolute;
      background: #eee;
      top: -1px;
      bottom: -1px;
      left: 22px;
      z-index: 79;      
    }
    div {
      position: relative;
      z-index: 99;
      padding: 0 0 0 30px;
    }
    &:hover {
      // background: tint($color-yellow, 15%);
    }
  }
  .place-minutes {
    font-size: 14px;
    color: #999;
  }
  .place-name a {
    font-size: 22px;
    color: #333;
    font-family: $serif;
  }
  .place-address {
    color: #999;
  }
  .place-phone {
    color: #666;
  }
}


#header { padding-top: 60px; }
#logo-compass { background: asset_url('logo-compass.png') 0 0 no-repeat; width: 71px; height: 69px; display: block; position: absolute; left:45px;  @include transition-duration(0.8s); @include transition-property (transform); overflow:hidden;
    &:hover, &.hovered { @include transform(rotate(360deg)); }
}
#logo { background: asset_url('logo.png') 0 0 no-repeat; width: 371px; height: 71px; margin: 0 auto; position: relative; 
  a { display: block; height: 71px; width: 371px; }
} 
#tagline { color: #000; font-family: $serif; font-size: 24px; font-style: italic; font-weight: 400; text-align: center; margin-bottom: 48px; }

#place-info {
  background-color: #fff; padding: 30px;
}