/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "bootstrap.min";
@import "bootstrap-responsive.min";

body { background-color: #fff; }

h1 { color: #222; }
h2 { color: #222; }

a { color: #000; }

.container { padding-top: 60px; }

.filter-sidebar { background-color: #2d2a28; 
	a { color: #fff; }
	.nav-list > li > a, .nav-list .nav-header { text-shadow: none; }
	.nav-header { color: #fff; }

}
.content { background-color: #ddd; padding-top: 20px; }