/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "bourbon";
 @import "bootstrap.min";
 @import "bootstrap-responsive.min";


body { background-color: #8a9b72; }

h1 { color: #fff; }
h2 { color: #fff; }

a { color: #7399b0; }

.container { padding-top: 60px; }

.filter-sidebar { padding: 19px; margin-bottom: 20px; background-color: #ededeb; border: 1px solid #ddd; border-radius: 4px;
	a { color: #252525; text-shadow: none; }
	.nav-header { color: #222; }
}

.nav-tabs { margin-top: 20px; margin-bottom: 0; 
	.tab { background: #fff; background: rgba(255,255,255,0.5); }
}
.tab-content { background-color: #fff; padding-top: 20px; }