<div class="span3 visible-desktop">
  <nav class="filter-sidebar">
    <ul class="nav nav-list"> 
      <li class="nav-header">Distance from Shopify</li>
      <ul class="nav nav-list">
        <li><a href="">All</a></li>
        <li><a href="">Walking distance</a></li>
        <li><a href="">Taxi ride</a></li>
      </ul>
      <li class="nav-header">Filter by taste</li>
      <ul class="nav nav-list">
        <% tag_cloud(@tags, []) do |tag, css_class| %>
          <li>
            <% unless Place::RESERVED_TAGS.include?(tag.name) %>
              <%= link_to tag.name.humanize, places_path(tag: tag.name) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </ul>
  </nav>
</div>