<div class="row">
  <div class="span12 hidden-desktop">
    <nav class="filter-dropdown">
      <select>
        <option value="" selected="selected">Within walking distance</option>
        <option value="">Within taxi distance</option>
        <option value="">Show any distance</option>
        (Distances are from Shopify Ottawa)
      </select>
    </nav>
  </div>
</div>

<div class="row">
  <div class="span12 hidden-desktop">
    <nav class="filter-dropdown">
      <select>
        <option value="" selected="selected">Filter by taste</option>
        <option value="">Bakery</option>
        <option value="">Breakfast</option>
        <option value="">Chinese</option>
        <option value="">Coffee and Tea</option>
        <option value="">Desserts</option>
        <option value="">Diner</option>
        <option value="">Greek</option>
        <option value="">Indian</option>
        <option value="">Italian</option>
        <option value="">Japanese</option>
        <option value="">Korean</option>
        <option value="">Mexican</option>
        <option value="">Pizza</option>
        <option value="">Pub</option>
        <option value="">Sandwiches</option>
        <option value="">Southern</option>
        <option value="">Tacos</option>
        <option value="">Tapas</option>
        <option value="">Thai</option>
        <option value="">Vegan</option>
        <option value="">Vegetarian</option>
        <option value="">Vietnamese</option>
      </select>
    </nav>
  </div>
</div>