<%= render partial: "filter_mobile" %>

<div class="row">
  <%= render partial: "filter_desktop" %>

  <div class="span8">
    <div id="content-eat">
      <ol class="span8">
      <% @places.each do |place| %>
        <li>
          <p>
            <%= link_to place.name, place %> 
            <% if place.walking_time_in_minutes %>
              – walking time: <%= place.walking_time_in_minutes %> minutes
            <% end %>
          </p>
        </li>
      <% end %>
      </ol>
    </div>
  </div>
</div>
